{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block content %}
<!-- Hero Start -->
    <div class="container-fluid py-5 mb-5 hero-header">
        <div class="container py-5">
            <div class="row g-5 align-items-center">
                <div class="col-md-12 col-lg-7">
                    <h4 class="mb-3 text-secon">100% Recyclable</h4>
                    <h1 class="mb-5 display-3 text-secon">Produits de qualité et recyclable.</h1>
                </div>
                <div class="col-md-12 col-lg-5">
                    <div id="carouselId" class="carousel slide position-relative" data-bs-ride="carousel">
                        <div class="carousel-inner" role="listbox">
                            <div class="carousel-item active rounded">
                                <img src="{{ asset('assets/img/hero-1.jpeg') }}" class="img-fluid w-100 h-100 bg-secondary rounded" alt="First slide">
                            </div>
                            <div class="carousel-item rounded">
                                <img src="{{ asset('assets/img/hero-2.jpeg') }}" class="img-fluid w-100 h-100 rounded" alt="Second slide">
                            </div>
                        </div>
                        <button class="carousel-control-prev " type="button" data-bs-target="#carouselId" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden ">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselId" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- Hero End -->

{% if app.user %}
    {% if app.user.customerRole.name == "Particulier" %}
        <!--Specifications Start -->
            <div id="specifications" class="container-fluid py-4">
                <div class="container py-5">
                    <div class="row g-4">
                        <div class="col-md-6 col-lg-3">
                            <div class=" text-center m-bg-secondary p-4">
                                <div class="specifications-icon mb-5 mx-auto">
                                    <i class="text-white fas fa-car-side fa-3x"></i>
                                </div>
                                <div class="specifications-content text-white text-center">
                                    <h5>Livraison gratuite</h5>
                                    <p class="mb-0">Gratuite à partir de 50€ d'achat</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class=" text-center m-bg-secondary p-4">
                                <div class="specifications-icon mb-5 mx-auto">
                                    <i class="text-white fas fa-user-shield fa-3x"></i>
                                </div>
                                <div class="specifications-content text-white text-center">
                                    <h5>Paiement sécurisé</h5>
                                    <p class="mb-0">Payez en toute sécurité en ligne</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class=" text-center m-bg-secondary p-4">
                                <div class="specifications-icon mb-5 mx-auto">
                                    <i class="text-white fas fa-exchange-alt fa-3x"></i>
                                </div>
                                <div class="specifications-content text-white text-center">
                                    <h5>Retour sous 30 jours</h5>
                                    <p class="mb-0">Garantie de paiement de 30 jours</p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-6 col-lg-3">
                            <div class=" text-center m-bg-secondary p-4">
                                <div class="specifications-icon mb-5 mx-auto">
                                    <i class="text-white fa fa-phone-alt fa-3x"></i>
                                </div>
                                <div class="specifications-content text-white text-center">
                                    <h5>Assistance 24/7</h5>
                                    <p class="mb-0">Une assistance toujours rapide</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        <!-- Specifications End -->
    {% elseif app.user.customerRole.name == "Professionnel" %}
        <!--Specifications Start -->
            <div id="specifications" class="p-5">
                <div class="container">
                    <div class="row g-4">
                        <div class="col-md-6 col-lg-4" >
                            <div class=" text-center m-bg-secondary p-4">
                                <div class="specifications-icon mb-3 mx-auto">
                                    <i class="text-white fas fa-recycle fa-3x"></i>
                                </div>
                                <div class="specifications-content text-white text-center">
                                    <h5>Services</h5>
                                    <p class="mb-0">5% de réduction</p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-6 col-lg-4">
                            <div class=" text-center m-bg-secondary p-4">
                                <div class="specifications-icon mb-3 mx-auto">
                                    <i class="text-white fas fa-exchange-alt fa-3x"></i>
                                </div>
                                <div class="specifications-content text-white text-center">
                                    <h5>Retour sous 2 jours</h5>
                                    <p class="mb-0">Recevez votre devis sous 2 jours</p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-6 col-lg-4">
                            <div class=" text-center m-bg-secondary p-4">
                                <div class="specifications-icon mb-3 mx-auto">
                                    <i class="text-white fa fa-phone-alt fa-3x"></i>
                                </div>
                                <div class="specifications-content text-white text-center">
                                    <h5>Assistance 24/7</h5>
                                    <p class="mb-0">Une assistance toujours rapide</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        <!-- Specifications End -->                               
    {% endif %}
{% else %}
    <div class="container p-3">
        <h2 class="text-green mb-4">Notre Démarche Zéro Déchets</h2>
        <div class="row">
            <div class="col-md-4 step-hover my-3">
                <h5 class=""> 
                    <span>1.</span>
                    Qu'est-ce que la Démarche Zéro Déchets ?
                </h5>
                <p class="text-justify">
                    La démarche zéro déchets vise à réduire au maximum la production de déchets en adoptant des 
                    habitudes de consommation plus responsables. Cela passe par la réduction de l'utilisation de plastiques, 
                    le recyclage, la réutilisation des produits et la limitation des emballages superflus. En choisissant des produits durables, réutilisables 
                    et compostables, nous pouvons tous contribuer à un avenir plus vert.
                </p>
            </div>
            <div class="col-md-4 step-hover my-3">
                <h5 class="">
                    <span>2.</span>
                    Nos Produits Éco-responsables
                </h5>
                <p class="text-justify">
                    Notre sélection de produits est conçue pour minimiser votre empreinte écologique tout en répondant à vos besoins quotidiens. 
                    Voici quelques exemples de ce que nous proposons:
                    <ul>
                        <li class="fw-bold">Emballages Réutilisables</li>
                        <li class="fw-bold">Produits de Soins Naturels</li>
                        <li class="fw-bold">Articles Ménagers Durables</li>
                        <li class="fw-bold">Recyclage de vos déchets</li>
                    </ul> 
                </p>
            </div>
            <div class="col-md-4 step-hover my-3">
                <h5 class="">
                    <span>3.</span>
                    Pourquoi Choisir Nos Produits ?
                </h5>
                <p class="text-justify">
                    <ul>
                        <li class="text-justify">
                            <span class="fw-bold">Qualité et Durabilité: </span> 
                            Nos produits sont sélectionnés pour leur durabilité et leur qualité 
                            supérieure.
                        </li>
                        <li class="text-justify">
                            <span class="fw-bold">Impact Environnemental Réduit: </span> 
                             En achetant chez nous, vous contribuez à la réduction des déchets 
                             et à la préservation des ressources naturelles.
                        </li>
                        <li class="text-justify">
                            <span class="fw-bold">Engagement Éthique: </span> 
                             Nous collaborons avec des fournisseurs respectueux de l'environnement.
                        </li>
                    </ul>
                </p>
            </div>
        </div>

    </div>
{% endif %}

{% if app.user %}
    {% if app.user.customerRole.name == "Particulier" %}
    <!--Product Start -->
    <div class="container py-3">
        <div class=" mx-auto mb-5">
                <h1 class="">Quelques Produits <span class="text-secon">Eco-Responsables<span></h1>
                <p>Lorem ipsum Lorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsum</p>
            </div>
            <div class="row g-4">
                {% for product in products %}
                    
                    <div class="col-lg-6 col-xl-4">
                        <div class="p-4 rounded bg-light">
                            <div class="row align-items-center">
                                <div class="col-6">
                                    {% if product.image %}
                                        <img src="{{ asset('assets/img/products/' ~ product.image) }}" class="img-fluid" alt="">
                                    {% else %}
                                        <img src="{{ asset('assets/img/num.jpg') }}" class="img-fluid" alt="">
                                    {% endif %}
                                </div>
                                <div class="col-6">
                                    <a href="#" class="h5">{{ product.designation }}</a>
                                    <div class="d-flex my-3">
                                        <i class="fas fa-star text-green"></i>
                                        <i class="fas fa-star text-green"></i>
                                        <i class="fas fa-star text-green"></i>
                                        <i class="fas fa-star text-green"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                    {% if app.user %}
                                        <div class="mb-3">
                                            <h4 class="text-secon">{{ product.price }} €</h4>
                                        </div>
                                        {% endif %}
                                    <a href="{{ path('add_to_cart', { 'product_id': product.id, 'quantity':1 }) }}" class="btn border border-secondary rounded-pill px-3 text-green"><i class="fa fa-shopping-cart me-2 text-green"></i> Acheter</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
        </div>
    </div>
    <!--Product End -->
    {% elseif app.user.customerRole.name == "Professionnel" %}
    <!-- Service Start -->
        <div class="container">
            <h1 class="mb-5">Nos services <span class="text-secon">Eco-Responsables<span></h1>
            <div class="row g-4 text-white">
                {% for service in services %}
                    <div class="col-md-6 col-lg-6 col-xl-3 m-bg-primary p-5">
                        <div class=" rounded">
                            <h4>{{service.designation}}</h4>
                            <a href="{{ path('app_quote_resquet') }}" class="btn border p-1 text-white">Ajouter à ma demande</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <!-- End Start -->
    {% endif %}
{% else %}
<!--Particulier Section Start -->
    <div class="container h-200  text-white">
        <div class="">
            <div class="row">
                <div class="col-lg-6 m-bg-secondary p-5">
                    <div class="">
                        <h6 class="text-white">Vous êtes un Particulier...</h6>
                        <p class=" text-justify">
                            Profitez des produits eco-responsables disponibles pour nos utilisateurs particuliers 
                            avec des avantages incroyables 🎁!
                        </p>
                        <p>Prêt à acheter des produits eco-responsables🚀 ?</p>
                         <a href="{{ path('app_choice_role') }}" class="btn m-btn-primary px-3"> Inscrivez-vous</a>
                    </div>
                </div>
                <div class="col-lg-6 m-bg-primary p-5">
                    <div class="">
                        <h6 class="text-white">Vous êtes un Professionnel...</h6>
                        <p class=" text-justify">
                            Profitez des services pour nos utilisateurs professionnels 
                            avec des avantages incroyables!
                        </p>
                         <a href="{{ path('app_choice_role') }}" class="btn m-btn-primary px-3"> Inscrivez-vous</a>
                    </div>
                       

                    </div>
                </div>
            </div>
        </div>
    </div>
<!--Particulier Section End -->
{% endif %}

{% endblock %}