{% extends 'admin_base.html.twig' %}

{% block title %}Gestion des status{% endblock %}

{% block content %}
    <div class="content">
        <div class="container mt-5">
            
            <div class="">
                <h1>Liste des status</h1>
                <a href="{{ path('app_qr_status_new') }}" class="btn btn-primary m-3">Ajouter un status</a>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead class="table-dark">
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for qr_status in qr_statuses %}
                        <tr>
                            <td>{{ qr_status.id }}</td>
                            <td>{{ qr_status.name }}</td>
                            <td>
                                <a href="{{ path('app_qr_status_edit', {'id': qr_status.id}) }}">
                                    <i class="fa fa-pencil text-green"></i>
                                </a>
                                <a href="{{ path('app_qr_status_delete', {'id': qr_status.id}) }}">
                                    <i class="fa fa-trash mx-2 text-danger"></i>
                                </a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="3">Aucun enregistrement trouvé</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>
{% endblock %}
