{% extends 'admin_base.html.twig' %}

{% block title %}Gestion des catégories{% endblock %}

{% block content %}
    <div class="content">
        <div class="container mt-5">
            <div class="">
                <h1>Liste des catégories</h1>
                <a href="{{ path('app_product_category_new') }}" class="btn btn-primary m-3">Ajouter une catégorie</a>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered">
                        <thead class="table-dark">
                        <tr> 
                            <th>Designation</th>
                            <th>Description</th>
                            <th>actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for product_category in product_categories %}
                        <tr>
                            <td>{{ product_category.designation }}</td>
                            <td>{{ product_category.description }}</td>
                            <td class="d-flex">
                                <a class="mt-2" href="{{ path('app_product_category_show', {'id': product_category.id}) }}">
                                    <i class="fa fa-pencil text-green"></i>
                                </a>
                                <a href="">
                                    {{ include('product_category/_delete_form.html.twig') }}
                                </a>
                            </td> 

                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="4">Aucun enregistrement</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
