{% extends 'admin_base.html.twig' %}

{% block title %}Gestion des produits{% endblock %}

{% block content %}
    <div class="content">
        <div class="container mt-5 myd-flex">
            <h1>Liste des produits</h1>

            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Image</th>
                        <th>Designation</th>
                        <th>Price</th>
                        <th>Description</th>
                        <th>Categorie</th>
                        <th>Quantité en stock</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for product in products %}
                    <tr>
                        <td>{{ product.id }}</td>
                        <td>
                            {% if product.image %}
                                <img src="{{ asset('assets/img/products/' ~ product.image) }}" class="img-fluid rounded" style="width: 80px; height: 80px;" alt="Image">
                            {% else %}
                                <img src="{{ asset('assets/img/num.jpg') }}" class="img-fluid rounded" style="width: 80px; height: 80px;" alt="">
                            {% endif %}
                        </td>
                        <td>{{ product.designation }}</td>
                        <td>{{ product.price }}</td>
                        <td>{{ product.description }}</td>
                        <td>{{ product.category.designation }}</td>
                        {% if product.stock %}
                            <td>{{ product.stock.quantity }}</td>
                        {% else %}
                            <td>non disponible</td>
                        {% endif %}
                        <td>
                            <a href="{{ path('app_product_show', {'id': product.id}) }}">show</a>
                            <a href="{{ path('app_product_edit', {'id': product.id}) }}">edit</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <a href="{{ path('app_product_new') }}">Créer Nouveau</a>
        </div>
    </div>
{% endblock %}
