{% extends 'admin_base.html.twig' %}

{% block title %}Gestion des services{% endblock %}

{% block content %}
    <div class="content">
        <div class="container mt-5">
            <div class="">
                <h1>Liste des services</h1>
                <a href="{{ path('app_service_new') }}" class="btn btn-primary m-3">Ajouter un service</a>
            </div>

        <div class="table-responsive">
            <table class="table table-bordered">
                <thead class="table-dark">
                    <tr>
                        <th>Id</th>
                        <th>Designation</th>
                        <th>Description</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for service in services %}
                    <tr>
                        <td>{{ service.id }}</td>
                        <td>{{ service.designation }}</td>
                        <td>{{ service.Description }}</td>
                        <td>
                            <a href="{{ path('app_service_edit', {'id': service.id}) }}">
                                <i class="fa fa-pencil text-green"></i>
                            </a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">Aucun enregistrement trouvé</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

            
                
        </div>
    </div>
{% endblock %}
