{% extends 'admin_base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
 <!-- contenu de la page -->
    <div class="content">
        <div class="container mt-5 myd-flex">
            <a href=''>
                <div class='contacts mx-4 my-3'>
                    <h1><b><i class='fa fa-product-hunt'></i>{{ nb_product }}</b></h1>
                    <p class='text-center'>Produits</p>
                    
                   </div>
            </a>
            <a href=''>
                <div class='contacts mx-4 my-3'>
                    <h1><i class='fa fa-quote-left'></i>{{ nb_service }}</h1>
                    <p class='text-center'>Services</p>
                    
                </div>
            </a>
            <a href=''>
                <div class='contacts mx-4 my-3'>
                    <h1><i class='fa fa-quote-left'></i>{{ nb_command }}</h1>
                    <p class='text-center'>Commandes</p>
                    
                </div>
            </a>
            <a href=''>
                <div class='contacts mx-4 my-3'>
                    <h1><i class='fa fa-quote-left'></i>{{ nb_quoteRequest }}</h1>
                    <p class='text-center'>Devis</p>
                    
                </div>
            </a>
            <a href=''>
                <div class='contacts mx-4 my-3'>
                    <h1><i class='fa fa-quote-left'></i>{{ nb_users }}</h1>
                    <p class='text-center'>Utilisateurs</p>
                    
                </div>
            </a>
        </div> 
    </div> 
{% endblock %}
