{% extends 'base.html.twig' %}

{% block title %}Boutique{% endblock %}

{% block content %}
<div class="container" id="shop">
    <div class="breadcrumb">
        <a href="">Accueil</a> <span class="mx-2">/</span> <p class="">Boutique</p>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="categories">
                <h5>Filtrer par catégories</h5>
                <div class="form-check my-2">
                    <input class="form-check-input filter-all" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Tout
                    </label>
                </div>
                {% for category in categories %}
                    <div class="form-check my-2">
                        <input class="form-check-input filter" type="checkbox" value="{{ category.id }}" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            {{ category.designation }}
                        </label>
                    </div>
                {% endfor %}
            </div>
            <div class="prices">
                <h5>Filtrer par prix</h5>
            </div>
            <div class="form-check my-2">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Tout
                    </label>
                </div>
                <div class="form-check my-2">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Prix 1
                    </label>
                </div>
                <div class="form-check my-2">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Prix 2
                    </label>
                </div>
        </div>
        <div class="col-md-9">
            <!--Product Start -->
            <div class="container">
                <div class="row">
                    {% for product in products %}
                        <div class="col-lg-6 col-xl-6 my-2 item {{ product.category.id }}">
                            <div class="p-4 rounded bg-light">
                                <div class="row align-items-center">
                                    <div class="col-6">
                                        <img src="{{ asset('assets/img/num.jpg') }}" class="img-fluid" alt="">
                                    </div>
                                    <div class="col-6">
                                        <a href="#" class="h5">{{ product.designation }}</a>
                                        <div class="d-flex my-3">
                                            <i class="fas fa-star text-green"></i>
                                            <i class="fas fa-star text-green"></i>
                                            <i class="fas fa-star text-green"></i>
                                            <i class="fas fa-star text-green"></i>
                                            <i class="fas fa-star"></i>
                                        </div>
                                        {% if app.user %}
                                        <div class="mb-3">
                                            <h4 class="text-secon">{{ product.price }} €</h4>
                                        </div>
                                        {% endif %}
                                        <a href="#" class="btn border border-secondary rounded-pill px-3 text-green"><i class="fa fa-shopping-cart me-2 text-green"></i> Ajouter</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
        <!--Product End -->
        </div>
    </div>
</div>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script>
$(document).ready(function() {
    function filterList() {
        var selectedFilters = $('.filter:checked').map(function() {
            return this.value;
        }).get();

        if (selectedFilters.length > 0) {
            $('.item').hide();
            selectedFilters.forEach(function(filter) {
                $('.item.' + filter).show();
            });
        } else {
            $('.item').show();
        }
    }
    $('.filter-all').on('change', function() {
        $('.filter').prop('checked', this.checked);
        filterList(); 
    });
    $('.filter').on('change', function() {
        if (!this.checked) {
            $('.filter-all').prop('checked', false);
        }

        if ($('.filter:checked').length === $('.filter').length) {
            $('.filter-all').prop('checked', true);
        }

        filterList();
    });
    filterList();
});
</script>
{% endblock %}
