{% extends 'admin_base.html.twig' %}

{% block title %}Détails de la Commande{% endblock %}

{% block content %}
    <div class="content">
        <div class="container mt-5">
            <a href="{{ path('app_command_index') }}" class="mb-3 text-green fs-5">
                <i class="fa fa-arrow-left"></i>
                Retour à la page précédente
            </a>
            <h3>Détails de la Commande de {{ command.cmdUser.email }}</h3>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead class="table-dark">
                        <tr>
                            <th>Produit</th>
                            <th>Quantité</th>
                            <th>Prix</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for command_detail in command_details %}
                        <tr>
                            <td>{{ command_detail.product.designation }}</td>
                            <td>{{ command_detail.quantity }}</td>
                            <td>{{ command_detail.price }}</td>
                            <td>{{ command_detail.total }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <p>Total de la commande : {{ command.total }} </p>
            </div>
        </div>
    </div>

{% endblock %}
