{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block content %}
<div class="container" id="loginForm">
        <div class="row login-bg">
            <div class="col-lg-6 col-md-12 m-bg-primary text-white">
                <div class="container p-3 login-text">
                    <h2>Démarrez l'aventure avec nous</h2>
                    <p>Protègeons la nature ensemble</p>
                    <p>Vous avez déjà un compte ? <a href="{{path('app_login') }}">Connectez-vous ici</a></p>
                    
                </div>
                <img src="{{ asset('assets/img/eco-product.png') }}" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 col-md-12 p-3 formulaire">
                <h2>Inscription</h2>
                <form method="POST" action="" class="row">
                    {{ form_errors(registrationForm) }}
                    {{ form_start(registrationForm) }}
                        {% if customerRole.name == 'Particulier' %}
                            <div class="col-md-6">
                                {{ form_row(registrationForm.firstname, {
                                label: 'Prénom'
                            }) }}
                            </div>
                            <div class="col-md-6">
                                {{ form_row(registrationForm.lastname) }}
                            </div>
                        {% endif %}
                        {% if customerRole.name == 'Professionnel' %}
                            <div class="col-md-6">
                                {{ form_row(registrationForm.lastname) }}
                            </div>
                            <div class="col-md-6">
                                    {{ form_row(registrationForm.siren, {
                                label: 'Numéro SIREN'
                                }) }}
                            </div>
                            
                        {% endif %}
                        <div class="col-md-6">
                            {{ form_row(registrationForm.phone, {
                            label: 'Téléphone'
                            }) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_row(registrationForm.address, {
                            label: 'Adresse'
                            }) }}
                        </div>
                        
                        {{ form_row(registrationForm.email, {
                            label: 'Adresse e-mail'
                        }) }}
                        {{ form_row(registrationForm.plainPassword, {
                            label: 'Mot de passe'
                        }) }}
                        {{ form_row(registrationForm.agreeTerms, {
                            label: 'J\'accepte les conditions d\'utilisation'
                        }) }}

                        <button type="submit" class="btn border-secondary">S'inscrire</button>
                    {{ form_end(registrationForm) }}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
